includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    autoload_files:
        - html-forms-mailchimp-update.php
    autoload_directories:
        - src/
    paths:
        - html-forms-mailchimp-update.php
        - src/
